.default-container {
  max-width: 1024px;
  margin: 0 auto;
}
body {
  font-family: "Poppins";
}
.borda-dourada {
  border-color: #b2987d;
}
.font-gv {
  font-family: "Great Vibes";
  color: #b2987d;
}
.modo-escuro {
  background-color: #252323;
  color: #fff;
}
